language: ruby

rvm:
 - "2.0.0"
 - "2.1.0"
 - "2.2.0"
# - rbx

script:
   - bundle exec rubocop --version
   - bundle exec rubocop -D .
   - pushd parser
   - bundle exec rake
   - popd
   - bundle exec rspec
